version: '3'
services:
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: "chanhuil"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
  back: 
    build: 
      context: "./24-back"
      dockerfile: Dockerfile 
    container_name: "back" 
    working_dir: "/app/back" 
    env_file:
      - .env
    ports: 
      - "3000:3000"
    depends_on:
      - postgres
    # links: 
    #   - "noderedis"
  front: 
    build: 
      context: "./24-front"
      dockerfile: Dockerfile 
    container_name: "front" 
    working_dir: "/app/front" 
    env_file: .env
    ports: 
      - "5173:5173"
  # noderedis: 
  #   image: "redis:3"
  #   container_name: "noderedis"